.movies-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
}
.movie-item-img {
  height: 480px;
}


@media only screen and (max-width: 1600px) {
  .movies-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
}