@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-weight: 300 !important;
  font-size: 40px !important;
}

.subtitle {
  font-weight: 300 !important;
  font-size: 20px !important;
}

.selected-movie-card {
  height: 270px;
}

.input-field input, .input-field .MuiSelect-select {

  background: #424242 !important;
}

.input-field label{
  color: #F65261 !important;
  text-transform: uppercase !important;
}
