@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-weight: 300 !important;
  font-size: 40px !important;
}

.subtitle {
  font-weight: 300 !important;
  font-size: 20px !important;
}

.selected-movie-card {
  height: 270px;
}

.input-field input, .input-field .MuiSelect-select {

  background: #424242 !important;
  font-size: 14px;
  font-weight: 300 !important;
  padding-left: 5px;
  height: 25px !important;
}

.input-field label{
  color: #F65261 !important;
  text-transform: uppercase !important;
  font-size: 14px;

}

.input-field .MuiInputBase-root.MuiInput-root{
padding-right: 10px;
background: #424242 !important;
}

.css-u07r4q-MuiInputBase-root-MuiInput-root-MuiSelect-root:before{
  border-color: #232323 !important;
}

.selected-movie-card {
  height: 420px;
}

.selected-card--img {
  height: 400px;
  width: 30%;
}
/* search-card */
.search-card--wrap:before {
  background-image: url("./images/movies.jpg");
  background-color: black;
  background-size: cover;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.search-card--wrap {
  position: relative;
}
.search-card {
  position: relative;
}
.demo-content {
  position: relative;
}
.search-card--bar {
  height: 170px;
}

.css-u07r4q-MuiInputBase-root-MuiInput-root-MuiSelect-root:before{
  border-color: #232323 !important;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.movie-item {
  height: 580px;
}


/*======================
    404 page
=======================*/

.page_404 {
  padding: 80px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
